.image-grid-wrapper {
    width: 100%;
    /* ارتفاع افتراضي للشاشات الكبيرة */
    height: 95vh;
    position: relative;
    overflow: hidden;
    border-radius: 60px;
    -webkit-mask-image: radial-gradient(ellipse at 50% 50%, black 20%, transparent 70%);
    mask-image: radial-gradient(ellipse at 50% 50%, black 20%, transparent 70%);
}

.tile {
    position: absolute;
    background-repeat: no-repeat;
    will-change: transform, opacity;
}

/* 👇 أضفنا استعلام وسائط لتقليل الارتفاع في الموبايل */
@media (max-width: 950px) {
    .image-grid-wrapper {
        height: 40vh; /* 👈 تقليل الارتفاع للموبايل لمنع الشد المطّاطي للصورة */
        border-radius: 30px; /* تقليل نصف القطر ليتناسب مع الحجم الجديد */
    }
}